.hero {
    background: $Very-Light-Gray;

    .container {
        @include breakpoint-up(large) {
            display: flex;
            align-items: center;
        }
    }

    // @include breakpoint-up(large) {
    //     height: 39rem;
    //     display: flex;

    // }


    &__image {

        @include breakpoint-up(medium) {
            height: 41.2rem;
        }

        flex: 3;
        order: 1;
        position: relative;
        height: 20.1875rem;
        width: 100%;

        &::after,
        &::before {
        }

        &::before {
            //Bagraound image
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url(/images/bg-intro-mobile.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            @include breakpoint-up(large) {
                background-image: url(/images/bg-intro-desktop.svg);
                width: 150%;
                background-position: 0 70%;
                background-repeat: no-repeat;
                background-size: 122%;
            }
        }
        &::after {
            // Mobiles images
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url(/images/image-mockups.png);
            background-repeat: no-repeat;
            background-position: center 94%;
            background-size: 80%;


            @include breakpoint-up(large) {
                background-size: 97%;
                width: 108%;
                background-position: -10% 94%;
                left: 21%;
                height: 120%;
               

            }

        }
    }

    // @include breakpoint-up(large) {
    //     height: 41.2rem;
    // }

    &__text {
        @include breakpoint-up(large) {
            font-size: 0.875rem;
            text-align: left;
        }
       
       

        flex: 2;
        text-align: center;
        padding-bottom: 5rem;
        text-align: center;

        h1 {
            font-weight: 300;
            
            font-size: 2.31rem;
            line-height: 1.3;


            @include breakpoint-up(large) {
                font-size: 3.25rem;

            }
            @include breakpoint-up(medium) {
                font-size: 3.25rem;
            }
        }

        p {

            @include breakpoint-up(large) {
                font-size: 1.3rem;
            }
            @include breakpoint-up(medium) {
                font-size: 1.3rem;
            }
        }
    }

}